# Introduction to Python

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="figures/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [1]:
# Numerical example
x = 4 #change 5 to 4
print (x)

4

In [2]:
# Text example
message = "hello, Tom" #changed var name and string value
print (message)

hello, Tom

In [3]:
# Variables can be used with each other
a = 2.5
b = 4.5
c = a + b #changed a and b values to floats
print (c)

7.0

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [5]:
# int variable
num_int = 100
print (num_int)
print (type(num_int)) #changed var name and value 

# float variable
num_float = 6.542
print (num_float)
print (type(num_float)) #changed var name and value

# text variable
x = "text string"
print (x)
print (type(x)) #changed string value

# boolean variable
boolx = False
print (boolx)
print (type(boolx)) #changed var name and value

100
<class 'int'>
6.542
<class 'float'>
text string
<class 'str'>
False
<class 'bool'>

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [7]:
# int variables
a = 10
b = 500
print (a + b) #changed a and b values

# string variables
a = "5555"
b = "3333"
print (a + b) #changed a and b values

510
55553333

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [8]:
# Creating a list
list_x = ["apple", "banana", "orange"] #changed list values to strings
print (list_x)

['apple', 'banana', 'orange']

In [9]:
# Adding to a list
list_x.append("pineapple") #changed append value to another fruit
print (list_x)

['apple', 'banana', 'orange', 'pineapple']

In [11]:
# Accessing items at specific location in a list
print ("first item: ", list_x[0])
print ("second item: ", list_x[1])
print ("third item: ", list_x[2])
print ("last item: ", list_x[-1]) # the last item
print ("second to last item: ", list_x[-2]) # the second to last item

##changed text to be more descriptive

first item:  apple
second item:  banana
third item:  orange
last item:  pineapple
second to last item:  orange

In [16]:
# Slicing
print ("full list: ", list_x[:])
print ("third item on: ", list_x[2:])
print ("second and third item: ", list_x[1:3])
print ("everything but last item: ", list_x[:-1])

##changed text to be more descriptive

full list:  ['apple', 'banana', 'orange', 'pineapple']
third item on:  ['orange', 'pineapple']
second and third item:  ['banana', 'orange']
everything but last item:  ['apple', 'banana', 'orange']

In [18]:
# Length of a list
len(list_x)
print("the list has {} items".format(len(list_x))) #prints out length of list using format

the list has 4 items

In [19]:
# Replacing items in a list
list_x[1] = "grape" #changed value to new fruit name
print (list_x)

['apple', 'grape', 'orange', 'pineapple']

In [20]:
# Combining lists
list_y = ["cucumber", "pepper", "onion"] #changed list values
list_z = list_x + list_y
print (list_z)

['apple', 'grape', 'orange', 'pineapple', 'cucumber', 'pepper', 'onion']

# Tuples

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [27]:
# Creating a tuple
tuple_x = ("red", "blue", "yellow") #change tuple values
print (tuple_x)

('red', 'blue', 'yellow')

In [28]:
# Adding values to a tuple
tuple_x = tuple_x + ("green",) #changed new item to add to tuple
print (tuple_x)

('red', 'blue', 'yellow', 'green')

In [29]:
# Trying to change a tuples value (you can't, this should produce an error.)
tuple_x[1] = "purple" #changed name

TypeError: 'tuple' object does not support item assignment

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [32]:
# Creating a dictionary
dog = {"name": "Sparky",
        "eye_color": "black"} #changed name and color
print (dog)
print ("the dog's name is " + dog["name"]) #made more descriptive
print ("the dog's eye color is " + dog["eye_color"]) #made more descriptive

{'name': 'Sparky', 'eye_color': 'black'}
the dog's name is Sparky
the dog's eye color is black

In [33]:
# Changing the value for a key
dog["eye_color"] = "blue" #changed value
print (dog)

{'name': 'Sparky', 'eye_color': 'blue'}

In [36]:
# Adding new key-value pairs
dog["age"] = "7" #changed value
print (dog)
print ("the dog's age is " + dog["age"])

{'name': 'Sparky', 'eye_color': 'blue', 'age': '7'}
the dog's age is 7

In [39]:
# Length of a dictionary
print (len(dog))
print ("there are {} items in this dictionary".format(len(dog))) #prints out how many items using format

3
there are 3 items in this dictionary

# If statements

You can use `if` statements to conditionally do something.

In [41]:
# If statement
x = 8
if x < 6:
    score = "C"
elif x <= 8:
    score = "B"
else:
    score = "A"
print (score) #changed score values

B

In [43]:
# If statment with a boolean
x = False
if x:
    print ("it worked")
else:
    print ("no it didn't") #added else statement

no it didn't

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [44]:
# For loop
x = 1
for i in range(10): # goes from i=0 to i=9 #changed range
    x += 2 # same as x = x + 2 #changed value
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables

i=0, x=3
i=1, x=5
i=2, x=7
i=3, x=9
i=4, x=11
i=5, x=13
i=6, x=15
i=7, x=17
i=8, x=19
i=9, x=21

In [45]:
# Loop through items in a list
x = 10
for i in [0, 1, 2, 3, 4, 5]: #added to list
    x += 10 #changed value
    print ("i={0}, x={1}".format(i, x))

i=0, x=20
i=1, x=30
i=2, x=40
i=3, x=50
i=4, x=60
i=5, x=70

In [46]:
# While loop
x = 1
while x < 10: #changed while statement
    x += 1 # same as x = x + 1
    print (x)

2
3
4
5
6
7
8
9
10

# Functions

Functions are a way to modularize reusable pieces of code.

In [47]:
# Create a function
def multiply_two(x): #changed function
    x = x * 2
    return x

# Use the function
score = 5
score = multiply_two(x=score)
print (score)

10

In [54]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = ["John", "Tom", "Brandon"] #changed string to a list with multiples values
last_name = ["Doe", "Pike", "Mohr"] #changed string to a list with multiple values

x = 0

for i in first_name:
    joined_name = join_name(first_name=first_name[x], last_name=last_name[x])
    x += 1
    print (joined_name)
print ("~list complete~") #added for loop to print out each first and last name in the list

John Doe
Tom Pike
Brandon Mohr
~list complete~

# Classes

Classes are a fundamental piece of object oriented programming in Python.

In [57]:
# Creating the class
class Pets(object):
  
    # Initialize the class
    def __init__(self, breed, color, name):
        self.breed = breed
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}.".format(self.color, self.breed, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name
        
#changed species to breed for below example

In [59]:
# Creating an instance of a class
my_dog = Pets(breed="dalmation", color="black and white", name="Spots",)
print (my_dog)
print ("my dog's name is " + my_dog.name) #added descriptive text

black and white dalmation named Spots.
my dog's name is Spots

In [60]:
# Using a class's function
my_dog.change_name(new_name="Spots Jr.") #changed new name
print (my_dog)
print (my_dog.name)

black and white dalmation named Spots Jr..
Spots Jr.

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)